* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font */
@font-face {
    font-family: "shell_crabs";
    src: url("../fonts/ShellCrabs.otf");
}
/* variabili */
:root {
    --header-background: #48b3b394;
    --main-background: #48b3b363;  /*#48b3b363; #247aa39c; */
    --footer-background: cornflowerblue;
}


#app {
    height: 100vh;
}

/* HEADER */
header {
    height: 100px;
    background-color: var(--header-background);
}

.container-header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* HEADER LEFT */
.game-name {
    display: flex;
    gap: 10px;
}
.game-name .logo {
    width: 50px;
    display: flex;
    align-items: center;
}
.game-name .logo img {
    width: 100%;
}

.title-game {
    font-size: 45px;
    font-family: "shell_crabs";
}

/* HEADER RIGHT */
.set-difficulty {
    display: flex;
    align-items: center;
}





/* MAIN */
main {
    height: calc(100% - (100px + 50px));
    background-color: var(--main-background);
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
#griglia {
    width: 650px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.messaggio-iniziale {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
}
.messaggio-iniziale h1 {
    font-size: 150px;
    text-align: center;
}
.messaggio-iniziale span {
    display: block;
    text-align: center;
}

.riga-griglia {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.box {
    background-color: yellow;
    /* width: calc(100% / 4);
    height: calc(100% / 4); */
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}











/* FOOTER */
footer {
    height: 50px;
    background-color: var(--footer-background);
}
.footer-container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}
.footer-container a {
    font-family: "shell_crabs";
}

.footer-container h5 {
    color: white;
}